.App {
  text-align: center;
}

/* Filter Btn Style */
.filterContainer {
  cursor: pointer;
  float: left; 
}
.filter-rectangle{
  border-style:solid;
  border-color: green;
  margin-right: 1100px;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}
/* .change{
  cursor: pointer;
  float: left;
}
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
} */
 /* NavBar Style */
.navbar {
  overflow: hidden;
  background-color: darkgreen;
  position: fixed;
  top: 0;
  width: 100%;
} 
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  width: 15%;/*to spread out evenly*/
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: yellow;
  color: black;
}  
/* main */
.main {
  padding: 16px;
  margin-top: 30px;
  min-height: 1500px; /* Used in this example to enable scrolling */
}

/* Filter side bar style */
/* .filterBar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 5;
  left: 0;
  background-color: grey;
  overflow-x: hidden;
  padding-top: 20px;
} */
/* display all items style */
.items {
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
}

.item.card {
  background-color: white;
  border: gray;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  text-align: center;
  width: 17%;
  min-height: 200px;
}

.image img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.header {
  font-size: 20px;
  padding-bottom: 3px;
  margin-bottom: 2px;
}

.buy button {
  margin-top: 10px;
  background-color: gray;
  font-size: 20px;
  border-radius: 5px;
}

.item.info {
  min-height: 200px;
  border-bottom: 1px solid gray;
  padding-bottom: 3px;
}

/* single page style */
.SingleItemDisplay img{
  width: 500px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* increment, decrease, change quantity button style */
.SingleItemDisplay .minus,
.SingleItemDisplay .plus{
  padding: 7px 10px 8px;
  height: 41px;
  background-color: grey;
  border: 1px solid #efefef;
  cursor:pointer;
}

.CartItemCard .changeQty .minus,
.CartItemCard .changeQty .plus{
  /* padding: 5px 8px 6px; */
  height: 30px;
  background-color: green;
  color: white;
  border: 1px solid #efefef;
  cursor: pointer;
  margin: 5px;
}

.SingleItemDisplay .minus:hover,
.SingleItemDisplay .plus:hover,
.CartItemCard .changeQty .minus:hover,
.CartItemCard .changeQty .plus:hover{
  background: #eeeeee;
}
.CartItemCard .changeQty .input-text.qty{
  width: 35px;
  height: 22px;
  padding: 1 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid green;
  margin-left: 8px;
}

.SingleItemDisplay .input-text.qty{
  width: 35px;
  height: 39px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #efefef;
}
.SingleItemDisplay input,
.input-text.qty input{
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
}
.SingleItemDisplay input::-webkit-outer-spin-button,
.SingleItemDisplay input::-webkit-inner-spin-button,
.CartItemCard .changeQty input::-webkit-outer-spin-button,
.CartItemCard .changeQty input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}
/* cart item style */
.checkOutItems,
.CartItemCard {
  /* border-top:    1px groove grey; */
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 260px;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: 3px groove green;
}

.CartItemCard .image {
  width: 100px;
  height: 100px;
  /* margin-top: 20px; */
  margin-bottom: 35px;
}
.checkOutItems .image{
  width: 100px;
  height: 100px;
  /* margin-top: 20px; */
  margin-bottom: 50px;
}
.CartItemCard .price{
  text-align: right;
  margin-bottom: 10px;
}
.checkOutItems .priceAndQty,
.priceAndQty .total{
  text-align: center;
  margin-top: 30px;
}
.CartItemCard .delete{
  text-align: center;
  margin: 15px;
  /* margin: 200px -50px;  */
    /* position:relative;
    top:50%; 
    left:50%; */

}

.CartItemCard button {
  background-color: green;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}
.checkOutItems .name,
.name {
  text-align: center;
  margin-top: 10px;
}
.checkOutItems,
.CartItemCard {
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
  height: 250px;
  align-items: center;
}

.total{
  text-align: center;
  align-items: center;
  margin: 20px;
}

.checkoutBtn{
  background-color: green;
  color: white;
  font-size: 20px;
  border-radius: 5px;
} 

/* style CheckoutItemCard */
.checkOutItems .priceAndQty{
  text-align: right;
}

.checkOutItems .name{
  text-align: right;
}
.checkOutItems .image {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 5px;
}
/* checkout form style */
.Checkout input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.Checkout input[type=submit],
.Checkout .addMoney{
  width: 100%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}

input[type=submit]:hover,
.Checkout .addMoney:hover{
  background-color: #45a049;
}

.Checkout{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

}