.items {
  background-color: green;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 10px;
  margin-top: 25px;
  border-radius: 10px;
  margin-right: 126px;
}

.item.card {
  background-color: white;
  border: rgb(1, 41, 1);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
  text-align: center;
  width: 170px;
  min-height: 200px;
}

.image img {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.header {
  font-size: 20px;
  padding-bottom: 3px;
  margin-bottom: 2px;
}

.buy button {
  margin-top: 10px;
  background-color: green;
  font-size: 20px;
  border-radius: 5px;
  color: white;
  padding: 5px;
  outline: none;
}

.buy button:hover {
  background-color: #0aad12;
}

.item.info {
  min-height: 200px;
  border-bottom: 1px solid green;
  padding-bottom: 3px;
}